<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HZ HQ</title>
  </head>
  
  <body>

    <p> welcome back... <%= user.name %>! </p>
    <br>
    <a href="/users/logout">logout</a>

    <h1>nice of you to join us!</h1>
    <h2>welcome to hertz headquarters! here you can find information on hz frequencies such as what they are and when to use them, as well as links to listen to them at bedtime :)))</h2>
    <br>
    <br>
    <h3><em>what is an hz frequency?</em></h3>
    <ul>
        <li>certain freqencies of sound used as part of therapies</li>
        <li>manipulate human brainwaves</li>
        <li>promote healing of the body and mind</li>
        <li>can be used to treat insomnia, anxiety, depression, & other nervous system disorders</li>
    </ul>
    <br>
    <h4><em>what are the different hz frequencies and their individual healing properties?</em></h4>
    <ul>
        <li>40hz is said to: </li>       
            <ul>
            <li>stimulate increased neural response</li>
            <li>fight symptoms of dementia</li>
            <li>stimulate memory</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=TKyABfsLvNI', '_blank');">listen here</button>
            <br>
            <br>
        <li>174hz is said to: </li>
            <ul>
            <li>be used in sacred music</li>
            <li>have positive affects on human health</li>
            <li>reduce pain</li>
            <li>reduce stress</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=yqy1WIGxPFw', '_blank');">listen here</button>
            <br>
            <br>
        <li>285hz is said to: </li>
            <ul>
            <li>heal cuts, burns, and other physical wounds</li>
            <li>activate cellular regeneration in body</li>
            <li>encourage body to heal itself</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=vN2TzkyHuzI', '_blank');">listen here</button>
            <br>
            <br>
        <li>396hz is said to: </li>
            <ul>
            <li>remove fear </li>
            <li>remove guilt</li>
            <li>be an addition in spiritual music</li>
            <li>balance the {<a href="https://www.chakras.info/root-chakra/" target=_blank>root chakra</a>  }</li>
            <li>transform negative emotions into positive ones</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=u8LtQzM_gqg', '_blank');">listen here</button>
            <br>
            <br>
        <li>417hz is said to: </li>
            <ul>
            <li>remove negative energy</li>
            <li>dissolve emotional blockages</li>
            <li>activate the {<a href="https://www.chakras.info/sacral-chakra/" target=_blank>sacral chakra</a>  }</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=J7IWlvAHtA8', '_blank');">listen here</button>
            <br>
            <br>
        <li>432hz is said to: </li>
            <ul>
            <li>be aimed at the heart chakra</li>
            <li>lead to greater levels of mental clarity</li>
            <li>lead to greater levels of emotional clarity</li>
            <li>be considered optimal for tuning opera singers</li>
            <li>be associated with a higher level of spiritual development</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=QjGbVbWRgPY', '_blank');">listen here</button>
            <br>
            <br>
        <li>440hz is said to: </li>
            <ul>
            <li>be considered "cerebral music"</li>    
            <li>aid in cognitive development</li>
            <li>activate the {<a href="https://www.chakras.info/third-eye-chakra/" target=_blank>third eye chakra</a>  }</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=QU6P1T9IWNQ&t=6s', '_blank');">listen here</button>
            <br>
            <br>
        <li>528hz is said to: </li>
            <ul>
            <li>be one of the popular frequencies</li>
            <li>be known as the "miracle note"</li>
            <li>be associated with blessings</li>
            <li>be a part of native population history</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=_RYTOgmbB5g', '_blank');">listen here</button>
            <br>
            <br>
        <li>639hz is said to: </li>
            <ul>
            <li>affect the {<a href="https://www.chakras.info/heart-chakra/" target=_blank>heart chakra</a>  }</li>
            <li>produce positive feelings</li>
            <li>produce greater attunement to relationships</li>
            <li>encourage clearer communication practices</li>
            <li>encourage situational awareness</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=HjZ26a_HZgU', '_blank');">listen here</button>
            <br>
            <br>
        <li>852hz is said to: </li>
            <ul>
            <li>direct the mind away from overthinking</li>
            <li>direct the mind away from intrusive thoughts</li>
            <li>direct the mind away from negative thought patterns</li>
            <li>alleviate the role of negative thoughts in ailments such as anxiety and depression</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=xDIbyz70brE', '_blank');">852 HZ</button>
            <br>
            <br>
        <li>963hz is said to: </li>
            <ul>
            <li>be associated with the activation of the pineal gland</li>
            <li>be associated with higher spiritual development</li>
            <li>be known as "the pure miracle tone" and "the frequency of the gods"</li>
            <li>be associated with the activation of the {<a href="https://www.chakras.info/crown-chakra/" target=_blank>crown chakra</a>  }</li>
            <li>be a connection to the source of all humanity</li>
            </ul>
            <br>
            <br>
            <button onclick="window.open('https://www.youtube.com/watch?v=adNCdrGouoA', '_blank');">listen here</button>
            <br>
            <br>
    </ul>
    <br>
    <h5><em>where can I learn more?</em></h5>
    <p>here are a few links to more information on:</p>
    <ul>
        <li><a href="https://www.themonkdude.com/meditation-spirituality/" target="_blank">meditation</a></li>
        <br>
        <li><a href="https://www.relaxmelodies.com/blog/science-behind-solfeggio-frequencies/" target="_blank">hz freqencies</a></li>
        <br>
        <li><a href="https://blog.mindvalley.com/7-chakras/" target="_blank">chakras</a></li>
        <br>
        <li><a href="https://destinationdeluxe.com/sound-healing-health-benefits/" target="_blank">sound healing</a></li>
        <br>
        <li><a href="https://attunedvibrations.com/solfeggio/" target="_blank">solfeggio</a></li>
        <br>
    </ul>
    <br>
    <br>
    <br>

    <div>
    <!-- <img src="https://content.thriveglobal.com/wp-content/uploads/2020/11/Meditation-1.jpg"></img> -->
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHWlsO-eMF34tEAs5kz3psJF4-gWToKbwYoQ&usqp=CAU"></img> -->
    <img src="https://healthcare-india.org/wp-content/uploads/2019/06/19cover-1-696x465.jpg"></img>
    </div>

    <br>
    <br>
    <hr>
    <br>
    <!-- <h5>where can you listen to these frequencies?</h5>
    <p>on youtube! click on one of the links below :)))</p>
    <ul>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=yqy1WIGxPFw', '_blank');">174 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=vN2TzkyHuzI', '_blank');">285 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=u8LtQzM_gqg', '_blank');">396 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=J7IWlvAHtA8', '_blank');">417 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=QjGbVbWRgPY', '_blank');">432 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=QU6P1T9IWNQ&t=6s', '_blank');">440 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=_RYTOgmbB5g', '_blank');">528 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=HjZ26a_HZgU', '_blank');">639 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=xDIbyz70brE', '_blank');">852 HZ</button>
        </li>
        <br>
        <li>
            <button onclick="window.open('https://www.youtube.com/watch?v=adNCdrGouoA', '_blank');">963 HZ</button>
        </li>
    </ul> -->

    <style>
        img {
            width: 200px;
            height: 200px;
            display: block;
            margin: auto;
        }
        button {
            background-color: plum;
            width: 100px;
            height: 50px;
        }

        ul {
            overflow: hidden;
            display: inline-block;
            font-size: 20px;
        }
  
        form {
            text-align: right;
            padding-right: 1em;
        }
        a {
            font-size: large;
            color: whitesmoke;
            top: 5%;
            padding-left: 1em;
        }
        p {
            padding-left: 1em;
            text-align: left;
            font-size: 15px;
        }
        h1 {
            text-align: center;
            font-size: 40px;
            padding-left: 1em;
        }
        h2 {
            text-align: center;
            font-size: x-large;
        }
        h3 {
            text-align: left;
            font-size: large;
            padding-left: 1em;
        }
        h4 {
            text-align: left;
            font-size: large;
            padding-left: 1em;
        }
        h5 {
            text-align: left;
            font-size: medium;
            padding-left: 1em;
        }
        .footer {
          position: relative;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: red;
          color: black;
          text-align: center;
        }
        .em {
            text-align: center;
        }
    </style>

    </body>

</html>
 