<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HZ FREQ</title>
  </head>
  
  <body>

    <p> welcome back... <%= user.name %>! </p>
    <br>
    <a href="/users/logout">logout</a>

    <h1>nice of you to join us!</h1>
    <h2>here you can find information on hz frequencies such as what they are, when to use them, and links to listen at bedtime :)))</h2>
    <br>
    <br>
    <h3>what is an hz frequency?</h3>
    <p>info text here</p>
    <br>
    <h4>what are the different hz frequencies and their individual healing properties?</h4>
    <ul>
        <li>text</li>       
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
        <li>text</li>
            <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            <li>text</li>
            </ul>
            <br>
    </ul>
    <br>
    <h5>where can you listen to these frequencies?</h5>
    <p>on youtube! click on one of the links below :)))</p>

    <style>
        ul {
            overflow: hidden;
            display: inline-block;
        }
  
        form {
            text-align: right;
            padding-right: 1em;
        }
        a {
            font-size: xx-large;
            color: whitesmoke;
            top: 5%;
            padding-left: 1em;
        }
        p {
            padding-left: 1em;
            text-align: left;
        }
        h1 {
            text-align: center;
            font-size: 40px;
            padding-left: 1em;
        }
        h2 {
            text-align: center;
            font-size: xx-large;
        }
        h3 {
            text-align: left;
            font-size: medium;
            padding-left: 1em;
        }
        h4 {
            text-align: left;
            font-size: medium;
            padding-left: 1em;
        }
        h5 {
            text-align: left;
            font-size: medium;
            padding-left: 1em;
        }
        .footer {
          position: relative;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: red;
          color: black;
          text-align: center;
        }
        .em {
            text-align: center;
        }
    </style>

    </body>

</html>
 