<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HZ HQ</title>
    <link rel = "icon" href =  
"https://www.anythinklibraries.org/sites/default/files/styles/full/public/event/field_event_image/colorful-sound-waves-vector-11771199_1.jpg?itok=R679Kz0o" 
        type = "image/x-icon">
  </head>
  
  <body>

    <style>
      body {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        color: whitesmoke;
        background-image: url("https://www.sciencenews.org/wp-content/uploads/2020/10/100920_EC_speed-sound_feat-1028x579.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: auto;
      }
      .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: red;
        color: black;
        text-align: center;
      }
    </style>
    <%- body %>
    <div class="footer">
      <u>HZ FREQUENCIES APP | COVID-19 EDITION | 2021</u>
    </div>
  </body>
  
</html>